//Utilities

//Mixin
@import "utilities/mixins";
//Maps
@import "utilities/maps";

//Layout

//Reset
@import "base/reset";
//Headers Home
@import "layout/header";
//NavBar
@import "layout/navigation";



//_HOME

//Main Containers

.containerPadre{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 300px;
}

.container__item1{
    @include flexible (flex , center , center);
    background-color: map-get($colores , oscuro);
    margin: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: auto;
    border-radius: 20px;
    flex-direction: column;

    img{
        height: 150px;
        width: 150px;
        align-self: center;
    }

    h2{
        text-align: center;
        padding-top: 30px;
    }
    &:hover{
        display: flex;
        background-color: black;
        cursor: pointer;
    }
}


//END Main Containers

//Contanos Containers

.contanosHome{
    @include flexible (flex , space-around , center);
    filter: drop-shadow(-40px 30px 1px #1a1a1a);
    background-color: black;
    height: 200px;
    margin: 5%;
    margin-top: 200px;
}

.contanos__boton{
    @include flexible (flex , center , center);
    background-color: white;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    flex-direction: row;

    a{
        color: black;
        text-decoration: none;
        font-weight:bold;
        text-align: center;
        justify-content: center;
    }
}

//_Animations

.contanos__boton:hover, .redes img:hover {
	animation: contanos__boton 0.5s ease-in-out ;
}

@keyframes contanos__boton {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }
    40% {
        transform: scale(0.7);
        animation-timing-function: ease-in;
    }
}

//Footer

.flex_footer{
    @include flexible ( flex , space-around , center);
    background-color: black;
    height: 200px;
    width: auto;
    flex-direction: row-reverse;
}

.redes{
    display: flex;
    height: 50px;
    width: 50px;

    img{
        margin: 5px;
    }
}

//END Footer

//__END Home

//_Designer

.conteiner_designer{
    @include flexible (flex , center , center);
    width: auto;
    flex-direction:row;
    margin-bottom: 2%;
}

.container__titulo{
    @include flexible (flex , center , center);
    background-color: black;
    width: 100px;
    height: 170px;
    writing-mode:vertical-rl;
    text-orientation:mixed;
    font-weight: bold;
    padding: 5px;
}

.container__contenido{
    @include flexible (flex , center , center);
    background-color: map-get($colores , oscuro );
    flex-direction: column;
    width: 1000px;
    padding: 50px;

    h3{
        color: map-get($colores, celeste );
    }
}

//__END Designer

//_Porfolio

.headerPorfolio{
    margin: 0%;
}

.containerPorfolio{
    width: auto;
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin: 30px;

}

.titulo__porfolio{
    display: flex;
    background-color: none;
    writing-mode: vertical-lr;
    align-content: center;
    justify-content: center;
    width: 200px;
    font-size: 70px;
    text-orientation: sideways-right;
}

.img__redondeo{
    border-radius: 10px;
    margin: 5px;
}

.imagenes__porfolio{
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

//__END Porfolio

//_Contacto

//_Align

.ali__form{
    grid-column: 1/3;
}

.containerFormulario{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.container__datos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 50px);
    grid-column: 2/3;
    align-items: center;
    margin-right: 50px;

    label{
        display: grid;
        grid-column: 1/2;
        color: white;
        align-content: center;
        justify-content: left;
    }

    input{
        grid-column: 2/3;
        justify-content: center;
        background-color: map-get($colores, gris);
        border-radius: 15px;
        height: 30px;
        border-style: none;
        
    }

    select{
        grid-column: 2;
        border-radius: 10px;
        color: black;
        background-color: map-get($colores, gris);
        border-style: none;
    }
}

.container__cuadro{
    display: grid;
    width: auto;
    height: auto;
    align-content: center;
    grid-template-rows: repeat(6, 50px);
    margin-left: 50px;
    
    h3{
        display: grid;
        justify-content: left;
        align-items: center;
    }

    textarea{
        grid-row: 2/7;
        border-radius: 20px;
        border-style: none;
    }
}

//_Contacto Buttons
.botonerasContacto{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2/4;
    padding-top: 10px;
    height: 50px;
}

.botones__contacto{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    height: 50px;
    margin:10px;

    &:hover{
        filter: drop-shadow(5px 5px 1px black);
    }
}

.mapaContacto{
    display: flex;
    margin: 0%;
    height: 400px;
    width: 100%;    
}

//__END Contacto

//MEDIAQUERYS
@media screen and (min-width:320px) and (max-width:480px){

    //__mqHome
    .rounded-pill{
        border-radius: 2% !important;
    }
    .headerlogo{
        height: 7vh;
    }
    .header_home{
        height: 50vh;
    }
    .soporteHeader img {
        display: none;
    }
    .idiomas{
        padding-left: 85%;
    }
    .containerPadre{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        height: 100vh;
        width: auto;
        padding-bottom: 40vh;
    }
    .containerPadre .container__item1 img{
        height: 15vh;
        width: 15vh;
    }
    .container__item1{
        justify-self: center;
        grid-column: 2/4;
        width: 100%;
        height: 40vh;
        h2{
            font-size: 2vh;
        }
    }
    .contanosHome{
        flex-direction: column;
        filter: none;
        justify-content: center;
        padding-top: 0;
        margin-top: 120vh;

        h2{
            font-size: 90%;
        }
    }
    .flex_footer{
        flex-direction: column;
        font-size: 80%;
        .redes{
            justify-content: center;
        }
        img{
            height: 6vh;
        }
    }
    //__END mqHome

    //_mqServicios
    .cajafrase__header q{
        font-size: 2vh;
    }
    //__mqServicios
    
    //_MQDesigner
    .conteiner_designer p{
        font-size: 2vh;
    }
    
    .container__contenido{
        padding: 1vh;
    }
    //__END mqDesigner
    
    //_mqPorfolio
    .containerPorfolio{
        background-color: map-get($colores , oscuro );
        margin:1vh;

        p{
            font-size: 2vh;
        }

        img{
            height: 10vh;
        }

        iframe{
            height: 10vh;
            width: 20vh;
        }
    }
    //__END mqPorfolio
    
    //_mqContacto
    .containerFormulario{
        grid-template-columns: repeat(1,1vh);
        justify-content: center;
        scale: 70%;
    }
    .container__datos{
        margin-right: 0;
        grid-column: 1/4;
    }
    .container__cuadro{
        grid-column: 1/4;
        padding: 0;
        margin: 0;
    }
    .botonerasContacto{
        padding-bottom: 3vh;
    }
    //__END mqContacto
}
    //__MEDIA 320 x 480 END

@media screen and (min-width:480px) and (max-width:768px){
    //__mqHome
    .rounded-pill{
        border-radius: 2% !important;
    }
    .header_home{
        height: 50vh;
    }
    .soporteHeader img {
        display: none;
    }
    .soporteHeaderMedia{
        display: flex;
        height: 20vh;
        justify-content: center;
        padding-top: 5vh;
    }
    .idiomas{
        padding-left: 85%;
    }
    .item__lista{
        display: none;
    }
    .containerPadre{
        grid-template-columns: repeat(3, 1fr);
        height: 50vh;
        padding-bottom: 80vh;
    }
    .container__item1 img{
        height: 15vh;
        width: 15vh;
    }
    .contanosHome{
        flex-direction: column;
        filter: none;
        justify-content: center;
    }
    .flex_footer{
        flex-direction: column;
        .redes{
            justify-content: center;
        }
    }
    //__END mqHome

    //_mqServicios
    .cajafrase__header q{
        font-size: 2vh;
    }
    //__END mqServicios

    //_mqPorfolio
    .containerPorfolio{
        background-color: #1a1a1a;
        margin:1vh;
        p{
            font-size: 5vh;
        }
    }
    //__END mqPorfolio

    //_mqContacto
    .containerFormulario{
        grid-template-columns: repeat(1,1vh);
        justify-content: center;
    }
    .container__datos{
        margin-right: 0;
        grid-column: 1/4;
    }
    .container__cuadro{
        grid-column: 1/4;
        padding: 0;
        margin: 0;
    }
    .botonerasContacto{
        padding-bottom: 20vh;
    }
    //__END mqContacto
}
    //__MEDIA 480 x 768 END

@media screen and (min-width:768px) and (max-width:1328px){

    //__mqHome
    .rounded-pill{
        border-radius: 2% !important;
    }

    .headerlogo{
        height: 6vh;
        padding-left: 4vh;
    }    
    .header_home{
        height: 50vh;
    }
    .soporteHeader {
        height: 10vh;
        padding-top: 10vh;
    }
    .idiomas{
        padding-left: 90%;
    }
    .lista__style{
        font-size: 80%;
    }
    .containerPadre{
        grid-template-columns: repeat(3, 1fr);
        height: 50vh;
        padding-bottom: 5vh;
        img{
            height: 15vh;
            width: 15vh;
        }
    }
    .contanosHome{
        flex-direction: column;
        filter: none;
        justify-content: center;
        margin-top: 40%;
    }
    .flex_footer{
        flex-direction: column;
        .redes{
            justify-content: center;
        }   
    }
    //__END mqHome

    //_mqServicios
    .cajafrase__header q{
        font-size: 2vh;
    }
    //__END mqServicios

    //_mqPorfolio
.containerPorfolio{
        background-color: #1a1a1a;
        margin:1vh;
        p{
            font-size: 5vh;
        }
    }
    //__END mqPorfolio

    //_mqContacto
    .containerFormulario{
        grid-template-columns: repeat(1,1vh);
        justify-content: center;
    }
    .container__datos{
        margin-right: 0;
        grid-column: 1/4;
    }
    .container__cuadro{
        grid-column: 1/4;
        padding: 0;
        margin: 0;
    }
    .botonerasContacto{
        padding-bottom: 20vh;
    }
    //__END mqContacto   
}

    //__MEDIA 768 x 1328 END