body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: map-get($colores , fondo);
    overflow-x: hidden;
    
}
h1{
    font-weight: bold;
    color: white;
}

h2{
    font-weight: lighter;
    color: white;
    font-size: 20px;
}

h3{
    font-weight: bold;
    color: white;
    font-size: 15px
}

p{
    font-weight: normal;
    color: white;
}

q{
    color: white;
    font-size: 25px;
}

//Text Center

.aliCenter{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    
    ul{
        font-size: 20px;
        list-style: none;
        font-weight: lighter;
        }
}